<!-- Page List Item for Page Accordion -->
<li class="list-group-item p-1 <% if (page.newPage == page.link) { %>border rounded bg-success-subtle<% } %>">
  <div class="row">
    <% if (page.publishedDate) { %>
    <!-- Page Name -->
    <div class="col-sm-4">
      <% let link = (page.link == "home" ? "" : page.link) %>
      <a href="<%- site.url + link %>" class="link-dark h5"><%= page.name %></a>
    </div>
    <!-- Published -->
    <div class="col-sm-4 my-2 d-flex align-items-center">
      <%- include("../components/icon-svg", {id: "check-square-fill", 
                                             width: 20}) %>
      <span class="ms-2">Published</span>
    </div>
    <% } else { %>
    <!-- Page Name -->
    <div class="col-sm-4">
      <h2 class="h5"><%= page.name %></h2>
    </div>
    <!-- Not Published -->
    <div class="col-sm-4 my-2 d-flex align-items-center">
      <%- include("../components/icon-svg", {id: "x-square-fill", 
                                             width: 20,
                                             color: "text-secondary"}) %>
      <span class="ms-2">Not Published</span>
    </div>
    <% } %>
    <!-- Actions -->
    <div class="col-sm-4 d-sm-flex justify-content-center justify-content-sm-end align-items-center">
      <div class="button-group">
        <a href="<%= site.url %>admin/pages/<%= page.link %>" class="button button-link">Edit</a>
        <button class="button button-link button-toggle">
          <%- include("icon-svg", {id:"three-dots", 
                                 color: "black", 
                                 width: 18}) %>
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <div class="button-drop">
          <%- include("../components/button", {arg:{text: "Delete", 
                          color:"danger", 
                          extraClass:"delete button-drop-item", 
                          cms: page.link,
                          cmsText: "Do you really want to delete: ", 
                          cmsAnchor:"accordionPageAnchor",
                          cmsUrl:site.url+"admin/pages" }}) %>
        </div>
      </div>
    </div>
  </div>
</li>
