<!-- Page List Item for Page Accordion -->
<li class="page-row">

  <% if (page.publishedDate) { %>
  <!-- Published -->
  <% let link = (page.link == "home" ? "" : page.link) %>
  <h2><a href="<%- site.url + link %>"><%- page.name %></a></h2>
  <span class="publish-state">
    <%- include("../components/icon-svg", {id: "check-square-fill", 
                                           width: 20,
                                           color: "text-success"}) %>
    Published
  </span>
  <% } else { %>
  <!-- Not Published -->
  <h2><%- page.name %></h2>
  <span class="publish-state">
    <%- include("../components/icon-svg", {id: "x-square-fill", 
                                           width: 20,
                                           color: "text-black"}) %>
    Not Published
  </span>
  <% } %>

  <span class="drop-icon">
    <%- include("../components/icon-svg", {id: "nut", 
                                           width: 20 }) %>
    <div class="drop-icon-menu">
      <%- include("../components/button", {arg:{text: "Delete", 
                      color:"danger", 
                      extraClass:"delete drop-menu-item", 
                      cms: page.link,
                      cmsText: "Do you really want to delete: ", 
                      cmsAnchor:"accordionPageAnchor",
                      cmsUrl:site.url+"admin/pages" }}) %>
    </div>
  </span>
  <a href="<%= site.url %>admin/pages/<%= page.link %>" class="button button-link">Edit</a>
</li>