<% const link = (page.link == "home" ? "" : page.link) %>
<!-- Published -->
<% if (page.publishedDate) { %>
<div class="d-flex align-items-center text-white">
  <a href="<%- site.url + link %>" class="link dark h4 me-4"><%= page.name %></a>
  <%- include("../components/icon-svg", {id: "check-square-fill", 
                                          width: 20,
                                          color: "text-success"}) %>
  <small class="ms-2">Published</small>
</div>
<!-- Not Published -->
<% } else { %>
<div class="d-flex align-items-center">
  <span class="h4 me-4"><%= page.name %></span>
  <%- include("../components/icon-svg", {id: "x-square-fill", 
                                          width: 20,
                                          color: "text-secondary"}) %>
  <small class="ms-2">Not published</small>
</div>
<% } %>