<%- include("base/head") %>

<%- include("layouts/site-header")%>
<main>
  <% if (page.sections) for (let i =0; i < page.sections.length; i++) { %> <%-
  include(`sections/${page.sections[i].template}/site-${page.sections[i].template}`, { content :
  page.sections[i].content }) %> <% } %>
</main>

<%- include("layouts/site-footer")%>
<%- include("base/foot")%>
