<%- include("base/head") %>
<%- include("layouts/site-header")%>

<main>
<% if (page.sections) for (section of page.sections) { %> 
  <%- include(`sections/${section.template}/site-${section.template}`,
              { content : section.content }) %> 
<% } %>
</main>

<%- include("layouts/site-footer")%>
<%- include("base/foot")%>
