<%- include("base/head") %>
<%- include("layouts/site-header")%>

<main>
<% if (page.sections) for (section of page.sections) { %> 
  <% if (!section.content) section.content = {} %>
  <%- include(`sections/${section.template}/site-${section.template}`,
              { content : section.content }) %> 
<% } %>
</main>

<%- include("layouts/site-footer")%>
<%- include("base/foot")%>
