<%- include("base/head", { page: { title: "Pages", description: "Manage Pages"
}})%> <%- include("layouts/header")%>

<main >
  <%- include("layouts/modal-add-folder")%>
  <section id="accordionPageAnchor" class="container page-accordion">
  <%- include("layouts/page-accordion")%>
  </section>
</main>

<%- include("base/foot")%>
