<!-- Default content for template -->
<% if (content.default) {
  content.image = "default.webp"
  content.alt = "Squirrel on tree."
  content.overlay = "yes"
} %>
<div class="white-back">

<!-- Image -->
<%- include("../../section-helpers/image", { slug: "image", label: "Image" }) %>
<!-- Heading -->
<%- include("../../section-helpers/text-area-plain-oneline", { slug: "heading", label: "Heading", extraClass: "mb-1"}) %>
<!-- Paragraph -->
<%- include("../../section-helpers/text-area-plain-threeline", { slug: "paragraph", label: "Paragraph", extraClass: "mb-1"}) %>
<!-- Button -->
<%- include("../../section-helpers/button", { slug: "button", label: "Button" , extraClass: "my-2"}) %>
<div class="row row-cols-1 row-cols-sm-2">
  <div class="col">
    <!-- Style -->
    <%- include("../../section-helpers/select", { slug: "style", label: "Style", options : [{slug: "standard",
    label:"Standard"},{slug: "home", label: "Home"}]}) %>
  </div>
  <div class="col">
    <!-- Overlay -->
    <%- include("../../section-helpers/select", { slug: "overlay", label: "Gradient Overlay", options : [{slug: "no",
    label:"No"},{slug: "yes", label: "Yes"}]}) %>
  </div>
</div>
</div>