<section class="text-area text-area-<%- content.style %>">
  <% if (content.style == "two-column") { %>
    <!-- Two Column -->
    <div class="row">
      <div class="column">
        <% if (content.columnOne) { %>
        <%- md(content.columnOne) %>
        <% } %>
      </div>
      <div class="column">
        <% if (content.columnOne) { %>
        <%- md(content.columnTwo) %>
        <% } %>
      </div>
    </div>
  <% } else { %>
    <!-- All Single column -->
    <% if (content.columnOne) { %>
    <%- md(content.columnOne) %>
    <% } %>
  <% } %>

  <!-- Optional Button at Bottom -->
  <% if (content.button.type != "no") { %>
    <br>
    <%- include("../../components/button", {extraClass:"btn--light-bg"}) %>
  <% } %>

</section>
