<section class="testimonial testimonial-<%- content.style %>">
  <div class="card">
    <div class="card-image-container">
      <%- include("../../components/image-card", {slug: "image"}) %>
    </div>
    <div class="card-text">
      <h2 class="h3"><%- content.heading %></h2 class="h3">
      <p><%- content.paragraph %></p>
      <div class="quote-container">
        <div class="quote-start">
          <%- include("../../components/icon-svg", {id: "quote"}) %>
        </div>
        <p class="quote"><%- content.quote %></p>
        <div class="quote-end">
          <%- include("../../components/icon-svg", {id: "quote"}) %>
        </div>
      </div>
    </div>
  </div>
</section>
