<% const idIndex = index.replace(/[\[\]]/g, "")+slug %>
<% for (let i =0; i < blocks.length; i++) { const block = blocks[i]; %>

<div class="accordion-item cms-block">

  <div class="row align-items-baseline">
    <%- include("../components/accordion-handle") %>
    <%- include("../components/accordion-header", 
                { name: block.name, 
                  collapse: block.collapse,
                  index: idIndex+i }) %>
    <%- include("../components/accordion-button", 
                { name: block.name,
                  removeTarget: ".cms-block",
                  labelTarget: "" }) %>
  </div>

  <div id="collapse-<%- idIndex+i %>" class="accordion-collapse collapse 
    <% if ( block.collapse == "show") { %>show<% } %>" 
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <input type="text" name=<%-`${index}[${i}][template]` %> 
             value="<%= block.template %>" hidden />
      <input type="text" name=<%-`${index}[${i}][name]` %>
             value="<%= block.name %>" hidden />
      <input class="remember-collapse" 
             type="text" name=<%-`${index}[${i}][collapse]` %>
             value="<%= block.collapse %>" hidden />
      
      <%- include("../../../views/blocks/"+block.template+"/admin-"+block.template, { index :
      `${index}[${i}][content]`, content: block.content }) %>


    </div>
  </div>
</div>


<% } %>
