<%- include("../components/page-link") %>

<span class="btn-group dropdown-center">
  <!-- Published -->
  <% if (page.publishedDate) { %>
    <div class="button-group">
      <%- include("../components/button", {arg:{text: "Publish", 
                                            color:"action", 
                                            extraClass:"create", 
                                            cmsForm: "pageForm", 
                                            cmsText: "Publishing Page", 
                                            cmsUrl:site.url+"admin/publish/"+page.link, 
                                            cmsAnchor:"publish-anchor"}})
                                            %>
      <button class="button button-action button-toggle">
        <%- include("../components/icon-svg", {id:"three-dots", 
                               color: "black", 
                               width: 18}) %>
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <div class="button-drop">
      <%- include("../components/button", {arg:{text: "Recall", 
                                          color:"danger", 
                                          extraClass:"delete button-drop-item",
                                          cms: page.link, 
                                          cmsUrl: site.url+"admin/publish",
                                          cmsText: "Do you really want to recall:",
                                          cmsAnchor:"publish-anchor"}}) %>
      </div>
    </div>
    <% } else { %>
      <%- include("../components/button", {arg:{text: "Publish", 
                                            color:"action", 
                                            extraClass:"create", 
                                            cmsForm: "pageForm", 
                                            cmsText: "Publishing Page", 
                                            cmsUrl:site.url+"admin/publish/"+page.link, 
                                            cmsAnchor:"publish-anchor"}})
                                            %>
    <% } %>

  </ul>
</span>