<!-- Section Templates -->
<% for (let i =0; i < site.sections.length; i++){const section = site.sections[i];%>
<template id="<%= section.slug %>-template">
  <section class="roller cms-section <% if ( section.collapse == "show") { %>show-on-load<% } %>">
    <header class="roller-header">
      <div class="handle new">
        <%- include("../components/icon-svg", {id:"grip-horizontal", 
                                               color: "black", 
                                               width: 40})%>
      </div>
      <button type="button" class="button-ghost roller-toggle new">
        <h1>
          <%- section.name %>
          <span class="accordion-label">
            <% if (section.label) { %>
            <%- "&nbsp;- " + section.label %>
            <% } %>
          </span>
        </h1>
        <%- include("../components/icon-svg", {id:"chevron", 
                                               color: "black", 
                                               width: 24})%>
      </button>
      <div class="roller-actions drop-icon">
        <%- include("../components/icon-svg", {id: "nut", 
        width: 20 }) %>
  
        <div class="drop-icon-menu">
          <%- include("../components/button", 
                    {arg:{text: "Add Label", 
                          color:"action", 
                          extraClass:"label-set-active", 
                          bsToggle:"modal",
                          bsTarget:"#label-modal",
                          cmsTarget: ".cms-section",
                          cmsText: section.name }}) %>
          <%- include("../components/button", 
                    {arg:{text: "Copy", 
                          color:"action", 
                          extraClass:"copy button-drop-item", 
                          cmsTarget: ".cms-section" }}) %>
        <%- include("../components/button", 
                    {arg:{text: "Remove", 
                          color:"danger", 
                          extraClass:"remove dropdown-item", 
                          cmsTarget: ".cms-section",
                          cmsText: section.name }}) %>
        </div>
      </div>
    </header>
    <div class="roller-body">
      <div class="p-3">
        <div class="roller-content-shadow">

        
        <input type="text" name="sections[<%= i %>][template]" 
                value="<%= section.slug %>" hidden />
        <input type="text" name="sections[<%= i %>][name]" 
                value="<%= section.name %>" hidden />
        <input type="text" name="sections[<%= i %>][label]" 
                value="<%= section.label %>" hidden />
        <input class="remember-collapse" 
                type="text" name="sections[<%= i %>][collapse]" 
                value="hide" hidden />
        <%- include("../../../views/sections/"+section.slug+"/admin-"+section.slug, 
              { index : "sections["+i+"][content]",
                content: {default: true} }) %>
        </div>
      </div>
    </div>
  </section>
</template>
<% } %>
