<% for (let i =0; i < site.sections.length; i++) { %>
<template id="<%= site.sections[i] %>-template">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse<%= i %>"
        aria-expanded="true"
        aria-controls="collapse<%= i %>">
        <%= site.sections[i] %>
      </button>
    </h2>
    <div id="collapse<%= i %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body cms-section">
        <input type="text" name="sections[<%= i %>][template]" value="<%= site.sections[i] %>" hidden>
        <%- include("../../../views/sections/"+site.sections[i]+"/admin-"+site.sections[i], { index : "sections["+i+"][content]", content: {} }) %>
      </div>
    </div>
  </div>
</template>

<% } %>
