<!-- Section Templates -->
<% for (let i =0; i < site.sections.length; i++){const section = site.sections[i];%>
<template id="<%= section.slug %>-template">
<div class="accordion-item cms-section ">
  <!-- Accordion Header -->
  <div class="row align-items-baseline">
    <%- include("../components/accordion-handle") %>
    <%- include("../components/accordion-header", 
                { name: section.name,
                  collapse: "hide", 
                  extraClass: "bg-success-subtle",
                  index: "qqoq" }) %>
    <%- include("../components/accordion-button", 
                { name: section.name }) %>
  </div>
  <!-- Accordion Body -->
  <div id="collapse-qq0q" class="accordion-collapse collapse" 
       data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <input type="text" name="sections[<%= i %>][template]" 
             value="<%= section.slug %>" hidden />
      <input type="text" name="sections[<%= i %>][name]" 
             value="<%= section.name %>" hidden />
      <input class="remember-collapse" 
             type="text" name="sections[<%= i %>][collapse]" 
             value="hide" hidden />
      <%- include("../../../views/sections/"+section.slug+"/admin-"+section.slug, 
                 { index : "sections["+i+"][content]",
                   content: {} }) %>
    </div>
  </div>

</div>
</template>
<% } %>
