<section class="banner banner-<%= content.color%> banner-<%= content.style %>">
  <% if (content.style == "vertical") { %>
  <div>
    <h1><%- content.heading %></h1>
    <p class="h4"><%- content.paragraph %></p>

    <% if (content.button.type != "no") { %>
      <br>
      <%- include("../../components/button", {extraClass:"btn--dark-bg"}) %>
    <% } %>

  </div>
  <% } else { %>
  <div class="horizontal">
    <h1><%- content.heading %></h1>
    <div>
      <p><%- content.paragraph %></p>

      <% if (content.button.type != "no") { %>
        <br>
        <%- include("../../components/button", {extraClass:"btn--dark-bg"}) %>
      <% } %>

    </div>
  </div>
  <% } %>
</section>
