<%- include("base/head", { page: { title: "Dashboard", description: "Manage Site" }})%> <%- include("layouts/header")%>

<main class="container p-3">
  <section class="my-3 p-3 white-back">
    <div class="floating-label">
      <label for="cars">Choose a car:</label>

      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
  </section>

  <section id="dev-section-anchor" >
    <%- include("sections/dev-sections")%>
  </section>

  <section id="dev-block-anchor">
    <%- include("sections/dev-blocks")%>
  </section>

</main>

<%- include("base/foot")%>
