<%- include("base/head", { page: { title: "Dashboard", description: "Manage Site" }})%> <%- include("layouts/header")%>

<main class="container p-3">
  <section class="my-3 p-3 white-back">

  </section>

  <section id="dev-section-anchor" >
    <%- include("sections/dev-sections")%>
  </section>

  <section id="dev-block-anchor">
    <%- include("sections/dev-blocks")%>
  </section>

</main>

<%- include("base/foot")%>
