<%- include("base/head", { page: { title: "Files", description: "Manage Files" }})%>
<%- include("layouts/header")%>

<main class="container">

  <section class="p-3">
    <form id="file-form" enctype="multipart/form-data">
      <input id="file-input" class="form-control mb-3" type="file" name="file" accept=".pdf" required multiple>
      <%- include("./components/button", { arg: {text: "Upload File(s)", id: "file-submit", color: "action"}}) %>
    </form>
  </section>
  <section id="file-gallery-anchor" class="container p-3">
    <%- include("layouts/file-gallery") %>
  </section>
</main>

<%- include("base/foot")%>
