<%- include("base/head", { page: { title: "Images", description: "Manage Images" }})%>
<%- include("layouts/header")%>

<main>
  <section class="container">
    <div id="input-gallery"></div>
    <form id="image-form" enctype="multipart/form-data">
      <input id="image-input" class="form-control my-4" type="file" name="pic" accept="image/*" required multiple>
      <%- include("./components/button-action", { arg: {text: "Submit", id: "image-submit"}}) %>
    </form>
  </section>
  <section id="image-gallery-anchor" class="container my-3">
    <%- include("layouts/image-gallery") %>
  </section>

</main>

<%- include("base/foot")%>
