<%- include("base/head", { page: { title: "Pages", description: "Manage Pages" }})%> 
<%- include("layouts/header")%>

<main class="container">
  <%- include("sections/page-control")%>
  <section id="pageFormAnchor">
    <%- include("layouts/page-form")%>
  </section>
</main>

<%- include("layouts/section-templates")%> 
<%- include("layouts/block-templates")%> 
<%- include("layouts/modal-image-select")%> 
<%- include("base/foot")%>