<div class="mb-2">
  <button type="button" class="btn image-set-active">
    <input type="text" name="<%= index %>[<%- slug %>]" value="<%= content[slug] %>" hidden>
    <img src="<%- site.url %>admin/assets/images/original/thumb/<%= content[slug] %>" alt="" height="150" width="150" class="image-fluid img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageSelectModal" />
  </button>
</div>
