<div class="form-floating mb-2">
  <select class="form-select" id="<%- index %>[<%- slug %>]" aria-label=<%- label %> name=<%- index %>[<%- slug %>]>
    <% for (option of options) { %>
    <option value="<%- option.slug %>" <% if (content[slug] ==  option.slug) { %>selected<% } %> ><%- option.label %></option>
    <% } %>
  </select>
  <label for="<%- index %>[<%- slug %>]"><%- label %></label>
</div>