<div class="form-floating mb-2">
  <textarea class="form-control tall" placeholder="Write page description here" id="<%= index %>[<%- slug %>]" name="<%= index %>[<%- slug %>]" ><%= content[slug] %></textarea>
  <label for="<%= index %>[<%- slug %>]"><%- label %></label>
</div>