<% if (content.default) {
  content[slug] = `Squirrel Ipsum`
} %>
<div id="<%- index.replace(/[\[\]]/g, "-") %><%- slug %>"
     class="floating-label <%- locals.extraClass %>" >

  <label for="<%= index %>[<%- slug %>]-textarea"
    ><%- label %> (plain-text)</label>
  <textarea id="<%= index %>[<%- slug %>]-textarea"
            rows="1"
            placeholder="Add plain text content here." 
            name="<%= index %>[<%- slug %>]" 
    ><%= content[slug] %></textarea>

</div>