<% if (content.default) {
  content[slug] = 
`Squirrel Ipsum`
} %>
<div class="form-floating mb-2" id="<%- index.replace(/[\[\]]/g, "-") %><%- slug %>" >
  <textarea class="form-control" placeholder="Write page description here"  name="<%= index %>[<%- slug %>]" id="<%= index %>[<%- slug %>]-textarea"
    ><%= content[slug] %></textarea>
  <label for="<%= index %>[<%- slug %>]-textarea"><%- label %></label>
</div>