<!-- Internal Links -->
<% if (content.link.type == "internal") { %>
  <% let link = (content.link.page == "home" ? "" : content.link.page) %>
  <a class="link-icon" href="<%- site.url + link %>" >
    <%- include("../../components/icon-svg", {id: content.svg })%>
    <span><%- content.text %></span>
  </a>
<!-- External Links -->
<% } else if (content.link.type == "external") { %>
  <a class="link-icon" href="<%- content.link.link %>" target="_blank">
    <%- include("../../components/icon-svg", {id: content.svg })%>
    <span><%- content.text %></span>
  </a>
  <!-- Files -->
  <% } else if (content.link.type == "file") { %>
    <a class="link-icon" href="<%- site.url +"assets/files/"+ content.link.file %>" target="_blank">
      <%- include("../../components/icon-svg", {id: content.svg })%>
      <span><%- content.text %></span>
    </a>
<!-- Scroll -->
<% } else if (content.link.type == "scroll") { %>
  <button class="btn--ghost scroll link-icon" data-scroll="<%- content.link.scroll %>" type="button" name="button" ><%- include("../../components/icon-svg", {id: content.svg })%><%- content.text %></button>
<% } %>