<section class="card-image-<%-content.style%> card-image-<%-content.color%>">
  <div class="card-image-container">
    <%- include("../../components/image-card", {slug: "image"}) %>

    <% if (content.style == "two") { %>
    <%- include("../../components/image-card", {slug: "image2"}) %>
    <% } %>
  </div>
  <div class="card-text">
    <h3><%- content.heading %></h3>
    <%- md(content.paragraph) %>
  
    <div class="foot">
      <% if (content.links) for (link of content.links) { %> 
        <%- include(`../../blocks/${link.template}/site-${link.template}`,
                  { content : link.content }) %> 
      <% } %>
      <% if (content.button.type != "no") { %>
        <%- include("../../components/button", {extraClass:"btn--light-bg"}) %>
      <% } %>  
    </div>
  </div>
</section>
