<% 
let widths = [554]; 
let imgName = publishImg(content.image.src, { width: 554, widths}, locals.promises) 
%>

<div class="container">
  <div class="image-container">
    <picture>
      <source type="image/webp" srcset="<%- site.url %>assets/images/<%- imgName %>-554.webp" />
      
      <img class="card-image" src="<%- site.url %>assets/images/<%- imgName %>-554.jpg" width="554" height="320" alt="<%- content.image.alt %>" />
    </picture>
    </div>
  <p><%- content.caption %></p>
</div>

